[mysqld]
server-id=1
report_host=mysql1
report_port=3306

log-bin=mysql-bin
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON

# --- Group Replication ---
plugin_load_add=group_replication.so
loose-group_replication_group_name="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
loose-group_replication_local_address="mysql1:33061"
loose-group_replication_group_seeds="mysql2:33061,mysql3:33061,mysql4:33061"
loose-group_replication_start_on_boot=OFF
loose-group_replication_bootstrap_group=ON
loose-group_replication_single_primary_mode=ON
loose-group_replication_enforce_update_everywhere_checks=OFF
loose-group_replication_exit_state_action=READ_ONLY